---
// src/pages/warehouse/cell/[cell]/aisle/[aisle].astro
import { ViewTransitions } from 'astro:transitions'
import { AisleVisualization } from '~/components/AisleVisualization'
import { Breadcrumb } from '~/components/Breadcrumb'
import BaseLayout from '~/layouts/BaseLayout.astro'
import { aisleService } from '~/services/aisle.service'

export const prerender = false

const { cell, aisle } = Astro.params
const cellNumber = parseInt(cell!)
const aisleNumber = parseInt(aisle!)

const aisles = await aisleService.getAisleWithLocations(cellNumber, aisleNumber)
if (!aisles.length) {
  return Astro.redirect('/warehouse')
}
---

<BaseLayout title={`Cell ${cellNumber} - Aisle ${aisleNumber}`}>
  <ViewTransitions />

  <main class='container mx-auto px-4 py-8'>
    <Breadcrumb cell={cellNumber} aisle={aisleNumber} client:load />
    <AisleVisualization aisles={aisles} client:load />
  </main>
</BaseLayout>
